Result
EDIT ON
<div class="header"></div>
  <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
  <label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
  </label>
  <div id="sidebarMenu">
    <ul class="sidebarMenuInner">
       <li> <%= link_to '新規登録', new_user_registration_path %> <li>
       <li> <%= link_to 'ログイン', new_user_session_path %> <li>
       <li><% if user_signed_in? %> 
            <%= link_to 'プロフィール', user_path(current_user.id)%>
        <% else %>
             <%= link_to "プロフィール", new_user_session_path %> 
        <% end %>

      <li>
      <li><% if user_signed_in? %> 
            <%= link_to "新規サービス登録", new_course_path %>
        <% else %>
            <%= link_to "新規サービス登録", new_user_session_path %> 
        <% end %>
      <li>
      
      
    
      <li><%= link_to "サービス一覧", courses_path %><li>
      
    </ul>
  </div>
  <div id='center' class="main center">
    <div class="mainInner">
      <div>こんにちわ</div>
    </div>
    <div class="mainInner">
      <div>今晩わ</div>
    </div>
    <div class="mainInner">
      <div>PURE CSS SIDEBAR TOGGLE MENU</div>
    </div>
  </div>