<img src=<%= @user.image %> class = "icon_image">
<h4> 名前</h4>
 <%= @user.name %>
 <h4> 性別</h4>
 <%= @user.sex %>
 <h4> 経歴</h4>
 <%= @user.career %>
 <h4> 自己紹介</h4>
 <%= @user.introduction %>

 <% @courses.each do |course| %>
  <hr>
  <p><span>サービス: </span><%=link_to course.plan, course_path(course.id) %></p>
<% end %>