<img src=<%= @user.image %> class = "icon_image">
<h4> 名前</h4>
 <%= @user.name %>
 <h4> 性別</h4>
 <%= @user.sex %>
 <h4> 経歴</h4>
 <%= @user.career %>
 <h4> 自己紹介</h4>
 <%= @user.introduction %>

<% @courses.each do |course| %>
  <hr>
  <p><span>サービス: </span><%=course.plan%><span><%= link_to '編集',  "/courses/#{course.id}/edit" , class: 'btn btn-default'%></span></p>
  <span><%= link_to "削除","/courses/#{course.id}/destroy",{method:"post"} %></span>
<% end %>

<li> <%= link_to 'プロフィール情報変更', edit_user_registration_path %> <li>
