<img src=<%= @user.image %> class = "icon_image">
<h4> 名前</h4>
 <%= @user.name %>
 <h4> 性別</h4>
 <%= @user.sex %>
 <% @user ||= current_user %>
<div class="stats">
  <a href="<%= following_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.followings.count %>
    </strong>
    following
  </a>
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    followers
  </a>
</div>
 <h4> スキル</h4>
<% @user.tag_list.each do |tag| %>
  <span class="badge badge-primary"><%= tag %></span>
<% end %>
 <h4> 経歴</h4>
 <%= @user.career %>
 <h4> 自己紹介</h4>
 <%= @user.introduction %>
<li> <%= link_to 'プロフィール情報変更', edit_user_registration_path %> <li>
<h4> 提供できるサービス</h4>
 <%= @user.declaration %>
<h4> 登録サービス</h4>
<% @courses.each do |course| %>
  <hr>
  <p><%=course.title%></p>
  <p><%=course.plan%></p>
<% course.tag_list.each do |tag| %>
  <span class="badge badge-primary"><%= tag %></span>
<% end %>
<p><span><%= link_to '編集',  "/courses/#{course.id}/edit" %></span></p>
  <span><%= link_to "削除","/courses/#{course.id}/destroy",{method:"post"} %></span>
<% end %>
<h4> 登録要望</h4>
<% @demands.each do |demand| %>
<hr>
  <p><span>要望: </span><%=demand.body%><span><%= link_to '編集',  "/demands/#{demand.id}/edit" %></span></p>
  <span><%= link_to "削除","/demands/#{demand.id}/destroy",{method:"post"} %></span>
<% end %>


