<h5><%= link_to "トップページへ戻る", root_path %></h5>
<br>
<% @demands.reverse_each do |demand| %>
    <% if user_signed_in? %>
    <strong><a href="/users/<%= demand.user.id %>" ><img src=<%= demand.user.image %> class = "icon_image_messeges"><%= demand.user.name %></a></strong>
    <% else %>
    <strong><a href="/course/<%= demand.user.id %>" ><img src=<%= demand.user.image %> class = "icon_image_messeges"><%= demand.user.name %></a></strong>
    <% end %>
  <p><%=demand.body%></p>
<% end %>
<%= link_to "トップページへ戻る", root_path %>



