<h3 class="text-center">サービス</h3>
<h5><%= link_to "トップページへ戻る", root_path %></h5>
<br>
<% @courses.reverse_each do |course| %>
<% if user_signed_in? %>
    <strong><a href="/users/<%= course.user.id %>" ><img src=<%= course.user.image %> class = "icon_image_messeges"><%= course.user.name %></a></strong>
        <% else %>
    <strong><a href="/users/<%= course.user.id %>/show2 " ><img src=<%= course.user.image %> class = "icon_image_messeges"><%= course.user.name %></a></strong>
        <% end %>

 <p><%= course.title %></p>
  <p><%=course.plan%></p>
  <% course.tag_list.each do |tag| %>
  <span class="badge badge-primary"><%= tag %></span>
<% end %>
<% end %>

<h5><%= link_to "トップページへ戻る", root_path %></h5>