<img src=<%= @user.image %> class = "icon_image">
<h4> 名前</h4>
 <%= @user.name %>
 <h4> 性別</h4>
 <%= @user.sex %>

<% unless current_user == @user %>
  <% if current_user.following?(@user) %>
    <%= form_for(current_user.follows.find_by(follow_id: user.id), html: { method: :delete }) do |f| %>
      <%= hidden_field_tag :follow_id, @user.id %>
      <%= f.submit 'Unfollow', class: 'btn btn-danger btn-block' %>
    <% end %>
  <% else %>
    <%= form_for(current_user.follows.build) do |f| %>
      <%= hidden_field_tag :follow_id, @user.id %>
      <%= f.submit 'Follow', class: 'btn btn-primary btn-block' %>
    <% end %>
  <% end %>
<% end %>
 <h4> スキル</h4>
 <span>tag: </span><% @user.tag_list.each do |tag| %>
  <span class="badge badge-primary"><%= tag %></span>
<% end %>
 <h4> 経歴</h4>
 <%= @user.career %>
 <h4> 自己紹介</h4>
 <%= @user.introduction %>
<h4> 提供できるサービス</h4>
 <%= @user.declaration %>
 <% @courses.each do |course| %>
  <hr>
  <p><span>サービス: </span><%= course.title %></p>
  <%= course.plan %>
  <% course.tag_list.each do |tag| %>
  <span class="badge badge-primary"><%= tag %></span>
<% end %>
  
  
<% end %>