<img src=<%= @user.image %> class = "icon_image">
<h4> 名前</h4>
 <%= @user.name %>
 <h4> 性別</h4>
 <%= @user.sex %>

<p><span><%= link_to 'Follow',  "/follows/#{@user.id}/create",{method:"post"} %></span></p>
  


 
 <h4> スキル</h4>
 <span>tag: </span><% @user.tag_list.each do |tag| %>
  <span class="badge badge-primary"><%= tag %></span>
<% end %>
 <h4> 経歴</h4>
 <%= @user.career %>
 <h4> 自己紹介</h4>
 <%= @user.introduction %>
<h4> 提供できるサービス</h4>
 <%= @user.declaration %>
 <% @courses.each do |course| %>
  <hr>
  <p><span>サービス: </span><%= course.title %></p>
  <%= course.plan %>
  <% course.tag_list.each do |tag| %>
  <span class="badge badge-primary"><%= tag %></span>
<% end %>
  
  
<% end %>